# SPDX-License-Identifier: GPL-2.0-only

menuconfig GENERIC_PT
	bool "Generic Radix Page Table"
	default n
	help
	  Generic library for building radix tree page tables.

	  Generic PT provides a set of HW page table formats and a common
	  set of APIs to work with them.

if GENERIC_PT
config DEBUG_GENERIC_PT
	bool "Extra debugging checks for GENERIC_PT"
	default n
	help
	  Enable extra run time debugging checks for GENERIC_PT code. This
	  incurs a runtime cost and should not be enabled for production
	  kernels.

	  The kunit tests require this to be enabled to get full coverage.

config IOMMU_PT
	tristate "IOMMU Page Tables"
	depends on IOMMU_SUPPORT
	depends on GENERIC_PT
	default n
	help
	  Generic library for building IOMMU page tables

if IOMMU_PT
config IOMMU_PT_KUNIT_TEST
	tristate "IOMMU Page Table KUnit Test" if !KUNIT_ALL_TESTS
	select IOMMU_IO_PGTABLE
	depends on KUNIT
	default KUNIT_ALL_TESTS
endif
endif
