# SPDX-License-Identifier: GPL-2.0-only

menuconfig GENERIC_PT
	bool "Generic Radix Page Table"
	default n
	help
	  Generic library for building radix tree page tables.

	  Generic PT provides a set of HW page table formats and a common
	  set of APIs to work with them.

if GENERIC_PT
config DEBUG_GENERIC_PT
	bool "Extra debugging checks for GENERIC_PT"
	default n
	help
	  Enable extra run time debugging checks for GENERIC_PT code. This
	  incurs a runtime cost and should not be enabled for production
	  kernels.

	  The kunit tests require this to be enabled to get full coverage.

config IOMMU_PT
	tristate "IOMMU Page Tables"
	depends on IOMMU_SUPPORT
	depends on GENERIC_PT
	default n
	help
	  Generic library for building IOMMU page tables

if IOMMU_PT
config IOMMU_PT_ARMV8_4K
	tristate "IOMMU page table for 64 bit ARMv8 4k page size"
	depends on !GENERIC_ATOMIC64 # for cmpxchg64
	default n
	help
	  Enable support for the ARMv8 VMSAv8-64 and the VMSAv8-32 long
	  descriptor pagetable format. This format supports both stage-1 and
	  stage-2, as well as address spaces up to 48-bits in size. 4K
	  granule size version.

	  If unsure, say N here.

config IOMMU_PT_ARMV8_16K
	tristate "IOMMU page table for 64 bit ARMv8 16k page size"
	depends on !GENERIC_ATOMIC64 # for cmpxchg64
	default n
	help
	  Enable support for the ARMv8 VMSAv8-64 and the VMSAv8-32 long
	  descriptor pagetable format. This format supports both stage-1 and
	  stage-2, as well as address spaces up to 48-bits in size. 4K
	  granule size version.

	  If unsure, say N here.

config IOMMU_PT_ARMV8_64K
	tristate "IOMMU page table for 64 bit ARMv8 64k page size"
	depends on !GENERIC_ATOMIC64 # for cmpxchg64
	default n
	help
	  Enable support for the ARMv8 VMSAv8-64 and the VMSAv8-32 long
	  descriptor pagetable format. This format supports both stage-1 and
	  stage-2, as well as address spaces up to 48-bits in size. 4K
	  granule size version.

	  If unsure, say N here.

config IOMMU_PT_KUNIT_TEST
	tristate "IOMMU Page Table KUnit Test" if !KUNIT_ALL_TESTS
	select IOMMU_IO_PGTABLE
	depends on KUNIT
	depends on IOMMU_PT_ARMV8_4K || !IOMMU_PT_ARMV8_4K
	depends on IOMMU_PT_ARMV8_16K || !IOMMU_PT_ARMV8_16K
	depends on IOMMU_PT_ARMV8_64K || !IOMMU_PT_ARMV8_64K
	default KUNIT_ALL_TESTS
endif
endif
